<a href="https://colab.research.google.com/github/awakechaudhry/Dataframe_ex03-/blob/main/EXERCISE_03_DF_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DataFrame Analysis Exercise

**Import the `bestsellers.csv` dataset and use it to answer the following questions:**

* Find the lowest User Rating in the DF
* Find the highest Price in the DF
* What is the average User Rating?
* What the average User Rating of the first 5 rows?
* What User Review score appeared the most?
* What is the total (sum) of all the values in the Reviews column?
* How many different authors are featured in the dataset?
* Which author wrote the most number of books on the list?  How many did they write?

In [ ]:
import pandas as pd

In [ ]:
bs=pd.read_csv('data/bestsellers.csv')

In [ ]:
bs.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [ ]:
bs['User Rating'].min()

3.3

In [ ]:
bs['Price'].max()

105

In [ ]:
bs['User Rating'].mean()

4.618363636363637

In [ ]:
bs['User Rating'].head().mean()

4.7

In [ ]:
bs['User Rating'].mode()

0    4.8
Name: User Rating, dtype: float64

In [ ]:
bs['Reviews'].sum()

6574305

In [ ]:
bs.dtypes

Name            object
Author          object
User Rating    float64
Reviews          int64
Price            int64
Year             int64
Genre           object
dtype: object

In [ ]:
bs.describe(include=['object'])

,Name,Author,Genre
count,550,550,550
unique,351,248,2
top,Publication Manual of the American Psychologic...,Jeff Kinney,Non Fiction
freq,10,12,310

In [ ]:
type(bs)

pandas.core.frame.DataFrame

In [ ]:
bs.Reviews.head()

0    17350
1     2052
2    18979
3    21424
4     7665
Name: Reviews, dtype: int64

In [ ]:
bs.Reviews.dtype

dtype('int64')